<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clasificador de Noticias BBC</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div id="BottonRow">
            <h1>Clasificador de Noticias</h1>
            <textarea id="inputText" placeholder="Escribe aquí la noticia..." rows="6"></textarea>
        </div>
        <div id = "BottonRow">
            <button onclick="classifyText()">Clasificar</button>
            <div id="output"></div>
        </div>
        
        <h3>Evaluación del modelo:</h3>
        <table id="reportTable" border="1">
            <thead>
              <tr>
                <th>Clase</th>
                <th>Precisión</th>
                <th>Recall</th>
                <th>F1-Score</th>
                <th>Soporte</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
